# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Database
*.db
*.db-shm

# Logs
logs/
*.db-wal

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node (frontend)
node_modules/
.next/
out/

#Inbox docs
bug_reports/*

#Obsidian
.obsidian/

# other ref repo
ref_repo/